!!!
%html
  %head
    %title Hashtags by hour
    %meta{ charset: "utf-8" }
    %link{ rel: 'stylesheet', type: "text/css", href: '/stylesheets/style.css', media: 'screen'}

    %script{ src: "/javascripts/jquery.1.8.2.min.js" }
    %script{ src: "/javascripts/d3.v2.min.js" }
    %script{ src: '/javascripts/application.js' }
      
  %body
    %header
      %h1 
        .h> H
        ashtags
        %small>
          %i>by 
        .h> H
        our    
        %small an analysis of twitter hashtags by hour of the day
    = yield
    
  %footer
    %small copyleft #{Time.now.year} &ndash; CC BY-NC-SA &ndash; @edoardotenani @kevinewe @pigatss
