!!!
%html
  %head
    %title Worldwide hashtags during epytian revolution
    %meta{ charset: "utf-8" }
    %link{ rel: 'stylesheet', type: "text/css", href: '/stylesheets/style.css', media: 'screen'}

    %script{ src: "/public/jquery.1.8.2.min.js" }
    %script{ src: "/public/d3.v2.min.js" }

    %script{ src: '/javascripts/application.js' }
      
  %body
    %header
      %h1 
        Worldwide hashtags during epytian revolution
    
    = yield
    
  %footer
    %small Copyleft #{Time.now.year} - CC BY-NC-SA
