%ul.days
  %li#20110211
    %a{href: "#20110211"} 11-02-2011
  %li#20110212 
    %a{href: "#20110212"} 12-02-2011
  %li#20110213 
    %a{href: "#20110213"} 13-02-2011  
  %li#20110214
    %a{href: "#20110214"} 14-02-2011
  %li#20110215
    %a{href: "#20110215"} 15-02-2011
  %li#20110216 
    %a{href: "#20110216"} 16-02-2011
  %li#20110217 
    %a{href: "#20110217"} 17-02-2011

%svg



